
.card-bg {
    background-color: #fff;
    width: 800px;
    padding: 30px;
    margin: 30px auto;
}
.wrap-title {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.el-step {
    cursor: pointer;
    &:hover {
        .el-step__icon-inner, .el-step__title, .el-step__description {
            color: #409EFF;
        }
    }
    &.active {
        .el-step__icon-inner, .el-step__title, .el-step__description {
            color: #409EFF;
        }
    }
}

.el-form {
    width: 600px;
    margin: 20px auto 0;
    .el-form-item__content {
        display: flex;
        position: relative;
        .el-select, .el-input, .el-textarea {
            flex: 1;
        }
        .el-input-number {
            margin-left: 25px;
        }
        .float-btn {
            position: absolute;
            bottom: 0px;
            right: 0;
            z-index: 1;
        }
    }
}